.calendar-day-container {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  width: 500px;
  margin: auto;
}

.ts-container {
  display: flex;
  flex-direction: column;
}

.timeslot {
  border: 1px solid grey;
}

.time {
  display: grid;
  grid-template-columns: 90px 1fr;
  border: 1px solid grey;
}
header {
  text-align: center;
}
