<table
  mat-table
  [dataSource]="dataSource"
  matSort
  (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8"
>
  <!-- Position Column -->
  <ng-container
    *ngFor="let colName of displayedColumns"
    matColumnDef="{{ colName }}"
  >
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ colName | titlecase }}
    </th>
    <td mat-cell *matCellDef="let element">{{ element[this.colName] }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr class="over" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
