.timeslot-info {
  //   background-color: hsla(0, 100%, 50%, 0.507);
  min-width: 100%;
  margin: auto;
  margin: 0;
  border-bottom: 1px dashed brown;

  //   &:hover {
  //     background-color: #000000;
  //   }
}

.slot-info-text {
  text-align: center;
  margin: 0;
  display: block;
  font-size: smaller;
}

// .timeslot-container {
//   &:hover {
//     background-color: #4e4d4d71;
//     min-width: 100%;
//     cursor: pointer;
//   }
// }
