<!-- <app-calendar-day></app-calendar-day> -->

<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)"
      >
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)"
      >
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)"
      >
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate : view + "ViewTitle" : locale }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="viewChange.emit(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Month
      </div>
      <div
        class="btn btn-primary"
        (click)="viewChange.emit(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Week
      </div>
      <div
        class="btn btn-primary"
        (click)="viewChange.emit(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Day
      </div>
    </div>
  </div>
</div>
<br />

<div class="alert alert-info">
  <div [ngSwitch]="view">
    <span *ngSwitchCase="'month'"
      >Click on a month label to change the view to that month.</span
    >
    <span *ngSwitchCase="'week'"
      >Click on a day header to change the view to that day.</span
    >
    <span *ngSwitchCase="'day'">There is no other view to navigate to.</span>
  </div>
</div>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    (dayClicked)="changeDay($event.day.date)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    (dayHeaderClicked)="changeDay($event.day.date)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
  >
  </mwl-calendar-day-view>
</div>

<!-- <pre>currentDateObj: {{ currentDateObj | json }}</pre>
<pre>viewDateObj: {{ viewDateObj | json }}</pre>
<pre>viewDate: {{ viewDate }}</pre>
<button (click)="changeCalendarView(viewDate.month() + 1)">nextMonth</button>
<button (click)="changeCalendarView(viewDate.month() - 1)">prevMonth</button>
<mat-grid-list rowHeight="3em" cols="7">
  <mat-grid-tile class="header-tile">Sunday</mat-grid-tile>
  <mat-grid-tile class="header-tile">Monday</mat-grid-tile>
  <mat-grid-tile class="header-tile">Tuesday</mat-grid-tile>
  <mat-grid-tile class="header-tile">Wednesday</mat-grid-tile>
  <mat-grid-tile class="header-tile">Thursday</mat-grid-tile>
  <mat-grid-tile class="header-tile">Friday</mat-grid-tile>
  <mat-grid-tile class="header-tile">Saturday</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="7">
  <mat-grid-tile
    [ngClass]="{ disabled: day.options.disabled }"
    class="matGridTile"
    *ngFor="let day of calendar"
  >
    <mat-grid-tile-header
      routerLink="/calendar/week"
      *ngIf="!day.options.disabled"
    >
      {{ day.day }}
      <p class="dateName">{{ day.dayName }}</p>
    </mat-grid-tile-header>
    <mat-chip-set class="mat-mdc-chip-set-stacked" role="list">
      <mat-chip
        routerLink="/calendar/week"
        *ngFor="let event of day.options.events"
        role="listitem"
      >
        {{ event.note }} | {{ event.time }}
      </mat-chip>
    </mat-chip-set>
  </mat-grid-tile>
</mat-grid-list> -->

<!-- <pre>calendar: {{ calendar | json }}</pre> -->
