<div class="weekday-section">
  <div class="text-center">{{ weekday }}</div>
  <app-weekday-timeslot></app-weekday-timeslot>
  <app-weekday-timeslot></app-weekday-timeslot>
  <app-weekday-timeslot></app-weekday-timeslot>
  <app-weekday-timeslot></app-weekday-timeslot>
  <app-weekday-timeslot></app-weekday-timeslot>
  <app-weekday-timeslot></app-weekday-timeslot>
  <app-weekday-timeslot></app-weekday-timeslot>
  <app-weekday-timeslot></app-weekday-timeslot>
  <app-weekday-timeslot></app-weekday-timeslot>
  <app-weekday-timeslot></app-weekday-timeslot>
  <app-weekday-timeslot></app-weekday-timeslot>
  <app-weekday-timeslot></app-weekday-timeslot>
  <app-weekday-timeslot></app-weekday-timeslot>
  <app-weekday-timeslot></app-weekday-timeslot>
  <app-weekday-timeslot></app-weekday-timeslot>
  <app-weekday-timeslot></app-weekday-timeslot>
  <app-weekday-timeslot></app-weekday-timeslot>
  <app-weekday-timeslot></app-weekday-timeslot>
  <app-weekday-timeslot></app-weekday-timeslot>
  <app-weekday-timeslot></app-weekday-timeslot>
  <app-weekday-timeslot></app-weekday-timeslot>
  <app-weekday-timeslot></app-weekday-timeslot>
  <app-weekday-timeslot></app-weekday-timeslot>
  <app-weekday-timeslot></app-weekday-timeslot>
</div>
