<!-- have set divs for every 15 mins (dashed borders) 
  with the borders for 30 mins slightly bolder dashed

  event chips will be assigned and cover these with a slightly 
  transparent overlay with their assigned color

  timeslot components will contain 'chips' denoting events. 
  a chip with area taking up 100% horizontal space and 25% vertical space = 15 min.
  chips taking up 25% vertical space and 33% horizontal = 5 min

  --wait -- 
  wouldnt it be better to assign times to timeslot from 0 min to 60 min?

  how would multiple hour events communicate that to multiple timeslots? do they need to?

  minutes in a day?

  lowest unit of time in calendar that an event can be assigned to is 5 minutes.  other than that - use a 'reminder'?

  how do i keep this scalable and un-spaghetti code-y
 -->

<!-- TODO fix styling -->
<div class="week-view-container">
  <div class="times-section times">
    <div>Time</div>
    <div class="duration">12:00 AM - 1:00 AM</div>
    <div class="duration">1:00 AM - 2:00 AM</div>
    <div class="duration">2:00 AM - 3:00 AM</div>
    <div class="duration">3:00 AM - 4:00 AM</div>
    <div class="duration">4:00 AM - 5:00 AM</div>
    <div class="duration">5:00 AM - 6:00 AM</div>
    <div class="duration">6:00 AM - 7:00 AM</div>
    <div class="duration">7:00 AM - 8:00 AM</div>
    <div class="duration">8:00 AM - 9:00 AM</div>
    <div class="duration">9:00 AM - 10:00 AM</div>
    <div class="duration">10:00 AM - 11:00 AM</div>
    <div class="duration">11:00 AM - 12:00 PM</div>
    <div class="duration">12:00 PM - 1:00 PM</div>
    <div class="duration">1:00 PM - 2:00 PM</div>
    <div class="duration">2:00 PM - 3:00 PM</div>
    <div class="duration">3:00 PM - 4:00 PM</div>
    <div class="duration">4:00 PM - 5:00 PM</div>
    <div class="duration">5:00 PM - 6:00 PM</div>
    <div class="duration">6:00 PM - 7:00 PM</div>
    <div class="duration">7:00 PM - 8:00 PM</div>
    <div class="duration">8:00 PM - 9:00 PM</div>
    <div class="duration">9:00 PM - 10:00 PM</div>
    <div class="duration">10:00 PM - 11:00 PM</div>
    <div class="duration">11:00 PM - 12:00 AM</div>
  </div>
  <section class="weekday-section">
    <app-weekday-section weekday="Sunday" />
  </section>
  <section class="weekday-section">
    <app-weekday-section weekday="Monday" />
  </section>
  <section class="weekday-section">
    <app-weekday-section weekday="Tuesday" />
  </section>
  <section class="weekday-section">
    <app-weekday-section weekday="Wednesday" />
  </section>
  <section class="weekday-section">
    <app-weekday-section weekday="Thursday" />
  </section>
  <section class="weekday-section">
    <app-weekday-section weekday="Friday" />
  </section>
  <section class="weekday-section">
    <app-weekday-section weekday="Saturday" />
  </section>
</div>
