.week-view-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 20px repeat(24, 80px);

  // grid-auto-rows: auto;
}
// .time-section {
//   border-bottom: 1px dashed white;
//   :first-child {
//     height: 102px;
//     border-bottom: 1px dashed white;
//   }
//   :nth-child(n + 2) {
//     height: 80px;
//     border-top: 1px dashed white;
//   }
// }
.times-section {
  border-top: 1px solid white;
  :first-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.507);
  }
  :nth-child(n) {
    outline: 1px solid rgba(255, 255, 255, 0.507);
  }
  :last-child {
    outline: 1px solid rgba(255, 255, 255, 0.507);
  }

  &.times {
    text-align: center;
    :nth-child(n + 2) {
      height: 80px;
    }
  }

  .duration {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// table {
//   border: 2px solid red;
// }

// tr {
//   border: 2px solid white;
// }

.text-center {
  text-align: center;
}
