<div class="day-container">
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
</div>
<div class="day-container">
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
</div>
<div class="day-container">
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
</div>
<div class="day-container">
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
</div>
<div class="day-container">
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
</div>
<div class="day-container">
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
</div>
<div class="day-container">
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
</div>
<div class="day-container">
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
</div>
<div class="day-container">
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
</div>
<div class="day-container">
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
</div>
<div class="day-container">
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
</div>
<div class="day-container">
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
</div>
<div class="day-container">
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
</div>
<div class="day-container">
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
</div>
<div class="day-container">
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
</div>
<div class="day-container">
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
</div>
<div class="day-container">
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
</div>
<div class="day-container">
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
</div>
<div class="day-container">
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
</div>
<div class="day-container">
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
</div>
<div class="day-container">
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
</div>
<div class="day-container">
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
</div>
<div class="day-container">
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
</div>
<div class="day-container">
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
  <app-weekday-timeslot class="timeslot"></app-weekday-timeslot>
</div>
