<!-- <p>calendar works!</p> -->

<!-- <div>{{ dayOfWeek }}, {{ month }} {{ dateToday.getDate() }} {{ currYear }}</div> -->
<!-- <p>last day of this month = {{ lastDayOfMonth }}</p> -->

<!-- <div class="container"> -->
<div class="monthYear center">
  <button (click)="genPrevMonth()">&lt;</button>
  <h1>{{ month }} {{ currYear }}</h1>
  <button (click)="genNextMonth()">&gt;</button>
</div>
<div class="calendar-container">
  <div *ngFor="let day of days">
    <app-day-card [day]="day"></app-day-card>
  </div>
</div>
<!-- </div> -->
