.calendar-container {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px;
  grid-template-rows: repeat(6, 150px);
  column-gap: 10px;
  justify-content: center;
  row-gap: 15px;
}

.container {
  width: 912px;
  margin: auto;
}

.monthYear {
  display: flex;
  width: 250px;
  margin: auto;
  justify-content: space-between;
}
